body{
    color: white;
    background-color: black;
}
pre {
    background: lightblue;
    width: 200px;
    border-left: 10px solid gold;
    border-right: 10px solid gold;
    border-top: 10px solid gold;
    border-bottom: 10px solid gold;
    padding: 20px;
    
    margin: 30px;
}
legend{
    color: grey;
    
}

    input[type="button"]
    {
    background-color:aqua;
    color: black;
    border: solid black 2px;
    width:100%
    }

    input[type="text"]
    {
    background-color:white;
    border: solid black 2px;
    width:100%
    }